<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <p>
                Search: <input ng-model="$ctrl.query">
            </p>
            <p>
                Sort by: <select ng-model="$ctrl.orderProp">
                            <option value="name">Alphabetical</option>
                            <option value="-name">Alphabetical Reverse</option>
                            <option value="age">Newest</option>
                            <option value="-age">Oldest</option>
                        </select>
            </p>
        </div>
        <div class="col-md-10">
            <ul class="phones">
                <li class="thumbnail phone-list-item" ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp">
                    <a class="thumb" href="#!/phones/{{phone.id}}">
                        <img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}"/>
                    </a>
                    <a href="#!/phones/{{phone.id}}">{{phone.name}}</a>
                    <p>{{phone.snippet}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>
